body {
  background-color: hsl(212, 45%, 89%);
}

.centerbox {
  background-color: white;
  margin: 10% auto;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  color: hsl(218, 44%, 22%);
  margin-bottom: 10px;
}

p {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 768px) {
  .centerbox {
    width: 90%;
  }
}
